/*----------------------------------------*/
/*  01. 메인화면, 1차카테고리 아이콘 작업
/*----------------------------------------*/
.cat_icon_area {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  border: 0px solid #454545;
  box-shadow: 0px 15px 30px 0px #00038f1a;
}
