
/* main */
.main_section {position: relative; width: 100%;}
.m_titbox { padding-bottom: 0.85rem; border-bottom: 1px solid #8C8C8C;}
.m_tit{color: var(--text); font-size: 2rem; font-weight: 600;}
.m_tit > .link{display: inline-flex; align-items: center; gap: 0.75rem;} 
.m_tit > .link .arrow { display: inline-block; width: 0.5rem; aspect-ratio: 1/2; vertical-align: middle; background: url(../img/ic_txt_arrow.png) no-repeat center/100% auto;}



/* 오늘의 쿡짱 */
.today_cook_wrap { margin-bottom: 3rem;}
.today_cookbox {border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);padding: 2rem;display: flex; border: 2px solid transparent; align-items: flex-start; gap: 3rem; transition: all 0.35s ease-in-out;}
.today_cookbox.login_on { border-color: var(--point); box-shadow: 0px 0px 20px 0px rgba(241, 98, 64, 0.25);}
.today_cookbox .siebox { width: 18%;}
.today_cookbox .siebox .m_titbox {display: flex; flex-direction: column; gap: 0.35rem; padding-bottom: 0; border-bottom: 0;}
.today_cookbox .siebox .m_titbox .desc { color: var(--text); font-size: 1rem; line-height: 1.5;}
.today_cookbox .siebox .countdown {position: relative; margin: 2rem 0 3.044rem;}
.today_cookbox .siebox .countdown .numbox {display: flex; align-items: center; gap: 0.105rem;}
.today_cookbox .siebox .countdown .numbox .num {display: inline-flex; width: 28px; height: 36px;align-items: center; justify-content: center; border-radius: 0.25rem; background: var(--point);}
.today_cookbox .siebox .countdown .numbox .num > span {color: #FFF; font-size: 1.65rem; font-weight: 700;}
.today_cookbox .siebox .countdown .numbox .separator { display: block; color: var(--point); font-size: 1.65rem; font-weight: 700;}
.today_cookbox .siebox .bottom_txt {color: var(--text); font-size: 1rem; line-height: 1.5;}
.today_cookbox .siebox .morebox {position: absolute; left: 2rem; bottom: 2rem;}
.today_cookbox .siebox .morebox .more_btn {display: inline-flex; align-items: center; gap: 0.375rem; color: var(--text_gray); font-size: 0.875rem; line-height: 1.5; padding-bottom: 0.125rem; border-bottom: 1px solid var(--text_gray);}
.today_cookbox .siebox .morebox .more_btn .plus { display: inline-block; width: 0.5rem; aspect-ratio: 1/1; background: url(../img/ic_more.png) no-repeat center/100% auto; margin-bottom: 0.2rem;}

.today_cookbox .prdbox { max-width: calc(82% - 3rem); flex: 1; display: flex; align-items: flex-start; gap: 1.4rem;}
.today_cookbox .prdbox .prd_item { max-width: calc((100% - 1.4rem*2)/3); display: flex; flex-direction: column; gap: 1rem;}
.today_cookbox .prdbox .prd_item .thumbox {width: 100%;aspect-ratio: 1/1; position: relative; border-radius: 0.25rem; overflow: hidden;}
.today_cookbox .prdbox .prd_item .thumbox .link { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; transition: all 0.25s ease-in-out;}
.today_cookbox .prdbox .prd_item .thumbox .link:hover { transform: scale(1.1);}
.today_cookbox .prdbox .prd_item .thumbox .link > img {width: 100%; height: 100%; object-fit: cover;}
.today_cookbox .prdbox .prd_item .btnbox {position: absolute; left: 0; bottom: 0; display: flex; align-items: center; gap: 0.5rem; padding: 0.5rem; width: 100%;}
.today_cookbox .prdbox .prd_item .btnbox .btn { height: 2.5rem; display: flex; align-items: center; justify-content: center; border-radius: 0.25rem; border: 1px solid var(--outline, #DDD); background: #FFF; color: var(--text); font-size: 1rem; line-height: 1.5;}
.today_cookbox .prdbox .prd_item .btnbox .wish_btn { width: 2.5rem;aspect-ratio: 1/1;}
.today_cookbox .prdbox .prd_item .btnbox .wish_btn .icon_wish {display: flex; width: 1rem; aspect-ratio: 1/1; background: url(../img/ic_wish.png) no-repeat center/100% auto;}
.today_cookbox .prdbox .prd_item .btnbox .wish_btn.on .icon_wish{background-image: url(../img/ic_wish_on.png);}
.today_cookbox .prdbox .prd_item .btnbox .cart_btn { flex: 1; gap: 0.5rem;}
.today_cookbox .prdbox .prd_item .btnbox .cart_btn .icon_cart { display: flex; width: 1rem; aspect-ratio: 1/1; background: url(../img/ic_cart2.png) no-repeat center /100% auto;}
.today_cookbox .prdbox .prd_item .txtbox { position: relative; display: flex; flex-direction: column; gap: 0.5rem;}
.today_cookbox .prdbox .prd_item .txtbox .tit_link {display: inline-block;}
.today_cookbox .prdbox .prd_item .txtbox .tit_link .name {color: var(--text); font-size: 1rem; line-height: 1.5; transition: all 0.25s ease-in-out; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;}
.today_cookbox .prdbox .prd_item .txtbox .tit_link:hover .name {color: var(--point);}
.today_cookbox .prdbox .prd_item .txtbox .infobox{display: flex; align-items: flex-end; justify-content: space-between; gap: 1rem;}
.today_cookbox .prdbox .prd_item .txtbox .left{display: flex; flex-direction: column;  align-items: flex-start;}
.today_cookbox .prdbox .prd_item .txtbox .left .sale_price { color: var(--text_gray); font-size: 0.875rem; font-weight: 500; line-height: 1.5; text-decoration: line-through; min-height: 1.5em;}
.today_cookbox .prdbox .prd_item .txtbox .left .pricebox { display: flex; align-items: center; gap: 0.5rem; color: var(--text); font-size: 1.125rem; font-weight: 700; line-height: 1.5;}
.today_cookbox .prdbox .prd_item .txtbox .left .pricebox .percent {color: var(--point);}
.today_cookbox .prdbox .prd_item .txtbox .right { display: inline-flex; align-items: center; gap: 0.1rem;}
.today_cookbox .prdbox .prd_item .txtbox .right .rate { display: inline-flex; align-items: center; gap: 0.25rem;}
.today_cookbox .prdbox .prd_item .txtbox .right .rate .rate_icon { display: flex; width: 0.75rem; aspect-ratio: 1/1; background: url(../img/ic_star.png) no-repeat center/100%; margin-bottom: 0.15rem;}
.today_cookbox .prdbox .prd_item .txtbox .right .rate .rate_txt { color: var(--point); font-size: 0.875rem; font-weight: 500; line-height: 1.5;}
.today_cookbox .prdbox .prd_item .txtbox .right .review { color: var(--text_gray); font-size: 0.875rem; font-weight: 500; line-height: 1.5;}


.today_cookbox .siebox .m_titbox .m_tit > .link, 
.today_cookbox .siebox .m_titbox .m_tit > .link .arrow, 
.today_cookbox .siebox .m_titbox .desc,
.today_cookbox .siebox .countdown .numbox .num,
.today_cookbox .siebox .countdown .numbox .num > span,
.today_cookbox .siebox .countdown .numbox .separator,
.today_cookbox .siebox .bottom_txt,
.today_cookbox .siebox .morebox .more_btn,
.today_cookbox .siebox .morebox .more_btn .plus,
.today_cookbox .prdbox .prd_item .txtbox .tit_link .name,
.today_cookbox .prdbox .prd_item .txtbox .left .sale_price,
.today_cookbox .prdbox .prd_item .txtbox .left .pricebox,
.today_cookbox .prdbox .prd_item .txtbox .left .pricebox .percent,
.today_cookbox .prdbox .prd_item .txtbox .right .rate .rate_icon,
.today_cookbox .prdbox .prd_item .txtbox .right .rate .rate_txt,
.today_cookbox .prdbox .prd_item .txtbox .right .review {transition: all 0.25s ease-in-out;}

.today_cookbox.done {background: var(--point);box-shadow: 0px 0px 20px 0px rgba(241, 98, 64, 0.25);}
.today_cookbox.done .siebox .m_titbox .m_tit > .link { color: #fff;}
.today_cookbox.done .siebox .m_titbox .m_tit > .link .arrow {background-image: url(../img/ic_txt_arrow_on.png);}
.today_cookbox.done .siebox .m_titbox .desc {color: #fff;}
.today_cookbox.done .siebox .countdown .numbox .num {background: #fff;}
.today_cookbox.done .siebox .countdown .numbox .num > span {color: var(--point);}
.today_cookbox.done .siebox .countdown .numbox .separator {color: #fff;}
.today_cookbox.done .siebox .bottom_txt {color: #fff;}
.today_cookbox.done .siebox .morebox .more_btn {color: var(--hover); border-color: var(--hover);}
.today_cookbox.done .siebox .morebox .more_btn .plus {background-image: url(../img/ic_more_on.png);}
.today_cookbox.done .prdbox .prd_item .txtbox .tit_link .name {color: var(--hover);}
.today_cookbox.done .prdbox .prd_item .txtbox .left .sale_price {color: #FA9780;}
.today_cookbox.done .prdbox .prd_item .txtbox .left .pricebox {color: var(--hover);}
.today_cookbox.done .prdbox .prd_item .txtbox .left .pricebox .percent {color: #fff;}
.today_cookbox.done .prdbox .prd_item .txtbox .right .rate .rate_icon {background-image: url(../img/ic_star_w.png);}
.today_cookbox.done .prdbox .prd_item .txtbox .right .rate .rate_txt {color: #fff;}
.today_cookbox.done .prdbox .prd_item .txtbox .right .review {color: #FA9780;}



/* 상품 영역 */
.product_wrap {margin-bottom: 3rem;}
.product_wrap:last-child {margin-bottom: 0;}
.product_wrap .prd_list { display: flex; align-items: flex-start; flex-wrap: wrap; gap: 1.5rem; margin-top: 2rem;}
.product_wrap .prd_item { width: calc((100% - 1.5rem*3)/4); display: flex; flex-direction: column; gap: 1rem; padding: 1rem; border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}
.product_wrap .prd_item .thumbox{width: 100%;aspect-ratio: 1/1; position: relative; border-radius: 0.25rem; overflow: hidden;}
.product_wrap .prd_item .thumbox .link { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; transition: all 0.25s ease-in-out;}
.product_wrap .prd_item .thumbox .link:hover { transform: scale(1.1);}
.product_wrap .prd_item .thumbox .link > img{width: 100%; height: 100%; object-fit: cover;}
.product_wrap .prd_item .txtbox{position: relative; display: flex; flex-direction: column; gap: 0.5rem;}
.product_wrap .prd_item .txtbox .tit_link{display: inline-block;}
.product_wrap .prd_item .txtbox .tit_link .name { color: var(--text); font-size: 1rem; line-height: 1.5; transition: all 0.25s ease-in-out; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;}
.product_wrap .prd_item .txtbox .tit_link:hover .name {color: var(--point);}
.product_wrap .prd_item .txtbox .infobox{display: flex; align-items: flex-end; justify-content: space-between; gap: 0.5rem;}
.product_wrap .prd_item .txtbox .left{display: flex; flex-direction: column;  align-items: flex-start;}
.product_wrap .prd_item .txtbox .left .sale_price{color: var(--text_gray); font-size: 0.875rem; font-weight: 500; line-height: 1.5; text-decoration: line-through; min-height: 1.5em;}
.product_wrap .prd_item .txtbox .left .pricebox { display: flex; align-items: center; gap: 0.5rem; color: var(--text); font-size: 1.125rem; font-weight: 700; line-height: 1.5;}
.product_wrap .prd_item .txtbox .left .pricebox .percent {color: var(--point);}
.product_wrap .prd_item .txtbox .right{display: flex; align-items: center; gap: 0.1rem }
.product_wrap .prd_item .txtbox .right .rate { display: inline-flex; align-items: center; gap: 0.25rem;}
.product_wrap .prd_item .txtbox .right .rate .rate_icon {display: flex; width: 0.75rem; aspect-ratio: 1/1; background: url(../img/ic_star.png) no-repeat center/100%; margin-bottom: 0.15rem;}
.product_wrap .prd_item .txtbox .right .rate .rate_txt { color: var(--point); font-size: 0.875rem; font-weight: 500; line-height: 1.5;}
.product_wrap .prd_item .txtbox .right .review { color: var(--text_gray); font-size: 0.875rem; font-weight: 500; line-height: 1.5;}
.product_wrap .prd_item .btnbox { display: flex; align-items: center; gap: 0.5rem; width: 100%;}
.product_wrap .prd_item .btnbox .btn { height: 2.5rem; display: flex; align-items: center; justify-content: center; border-radius: 0.25rem; border: 1px solid var(--outline, #DDD); background: #FFF; color: var(--text); font-size: 1rem; line-height: 1.5;}
.product_wrap .prd_item .btnbox .wish_btn { width: 2.5rem; aspect-ratio: 1/1;}
.product_wrap .prd_item .btnbox .wish_btn .icon_wish{ display: flex; width: 1rem; aspect-ratio: 1/1;  background: url(../img/ic_wish.png) no-repeat center/100% auto;}
.product_wrap .prd_item .btnbox .wish_btn.on .icon_wish{background-image: url(../img/ic_wish_on.png);}
.product_wrap .prd_item .btnbox .cart_btn { flex: 1; gap: 0.5rem;}
.product_wrap .prd_item .btnbox .cart_btn .icon_cart  { display: flex; width: 1rem; aspect-ratio: 1/1; background: url(../img/ic_cart2.png) no-repeat center /100% auto;}




/* 24.01.17 */
.m_titbox.flex {display: flex; align-items: center; justify-content: space-between;}
.m_titbox.color {border-color: var(--point);}
.m_titbox.color .m_tit {color: var(--point);}

.mob_top_btn {display: none;}


/* 제품 목록 */
.prd_list_wrap {padding-top: 0.875rem;}
.prd_category {display: flex;flex-wrap: wrap; gap: 1rem 8.333rem; margin: 2rem 0; padding: 1.688rem 2rem; background: #fff; border-radius: 0.5rem; box-shadow: 0px 0px 20px 0px #0000000D;}
.prd_category > li { width: calc((100% - 8.333rem*3)/4);}
.prd_category > li .link { display: inline-flex; justify-content: center; align-items: center; color: var(--text); font-size: 1rem; width: 100%; height: 40px;}
.prd_category > li.on .link { color: #fff; border-radius: 0.25rem; background: var(--point);}

.prd_list_top {display: flex; justify-content: space-between; margin-top: 2.5rem;}
.prd_total {color: var(--text); font-size: 1.125rem; font-weight: 500;}
.prd_filter {position: relative;}
.prd_filter .mob_filter_btn {display: none;}
.prd_filter .prd_filter_box{display: flex; align-items: center; gap: 0.5rem;}
.prd_filter .prd_filter_box > .btn {color: var(--text_gray); font-size: 1.125rem; font-weight: 500;}
.prd_filter .prd_filter_box > .btn.on {color: var(--text);}
.prd_filter .prd_filter_box > .bar { display: block; width: 1px; height: 0.75rem; background: #D2D2D2;}


/* 제품 상세 */
.prd_detail_wrap {padding-top: 0.875rem;}
.prd_detail_wrap .prd_detail_box { display: flex; gap: 3rem; padding: 2rem; border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}
.prd_detail_wrap .prd_detail_box > .imgbox {width: 47.536%; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center;}
.prd_detail_wrap .prd_detail_box > .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.prd_detail_wrap .prd_detail_box > .txtbox { flex: 1; display: flex; flex-direction: column; min-height: 540px;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_name {color: var(--text); font-size: 1.75rem; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin-bottom: 0.563rem;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_review { display: flex; align-items: center; margin-bottom: 0.813rem;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate {display: flex;  align-items: center;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate .rate_icon{display: flex; width: 1.5rem; aspect-ratio: 1/1; background: url(../img/ic_star.png) no-repeat center/100%; }
.prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate .rate_icon.half {background-image: url(../img/ic_star_half.png);}
.prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate_txt { color: var(--text); font-size: 1.125rem; margin-left: 0.375rem; margin-right: 0.5rem;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_review .review { color: var(--text_gray); font-size: 1rem;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_price {display: flex; flex-direction: column;  align-items: flex-start;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_price .sale_price{color: var(--text_gray); font-size: 0.875rem; font-weight: 500; line-height: 1.5; text-decoration: line-through; min-height: 1.5em;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox { display: flex; align-items: center; gap: 0.5rem; color: var(--text); font-size: 1.125rem; font-weight: 600; line-height: 1.5;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox .percent { color: var(--point); font-size: 2rem; font-weight: 600;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox .price .num { font-size: 2rem; margin-right: 0.375rem;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_list { margin-top: 0.75rem; border-top: 1px solid var(--outline); display: flex; flex-direction: column;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_list .item { color: var(--text); font-size: 1rem; line-height: 1.5em; display: flex; gap: 1.875rem; align-items: flex-start; padding: 1.25rem 0; border-bottom: 1px solid var(--outline);}
.prd_detail_wrap .prd_detail_box > .txtbox .info_list .item .tit { width: 100px;}
.prd_detail_wrap .prd_detail_box > .txtbox .info_list .item .desc { flex: 1;}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox { flex: 1; position: relative; display: flex; align-items: flex-end; gap: 0.5rem; width: 100%; margin-top: 2rem;}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox > .btn { width: 100%; height: 3.5rem; display: flex; align-items: center; justify-content: center; border-radius: 0.25rem; border: 1px solid var(--outline, #DDD); background: #FFF; color: var(--text); font-size: 1.125rem; line-height: 1.5; font-weight: 500;}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox .wish_btn { width: 3.5rem; aspect-ratio: 1/1; border-radius: 0.35rem;}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox .wish_btn .icon_wish {display: flex; width: 1.4rem; aspect-ratio: 1/1; background: url(../img/ic_wish_color.png) no-repeat center/100% auto;}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox .wish_btn.on .icon_wish{background-image: url(../img/ic_wish_on.png);}
.prd_detail_wrap .prd_detail_box .prd_detail_btnbox .buy_btn { background: var(--point);  color: #fff;}
.prd_detail_wrap .prd_detail_btn_pop { position: absolute; top: calc(100% + 0.5rem); right: 0; width: calc(100% - 4rem); z-index: 10; border: 1px solid var(--outline); background: #fff; padding: 0.75rem 1rem 1rem; border-radius: 0.25rem; display: none;}
.prd_detail_wrap .prd_detail_btn_pop.show {display: block;}
.prd_detail_wrap .prd_detail_btn_pop .prd_info_box {display: none;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box { display: flex; align-items: flex-start;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box > .item { width: 50%;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box > .item .tit { color: var(--text); font-size: 1rem; line-height: 1.5; margin-bottom: 1rem;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box > .item .controls { display: flex; align-items: center; gap: 0.5rem;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box > .item .controls .btn { width: 1.75rem; aspect-ratio: 1/1; display: flex;}
.prd_detail_wrap .prd_detail_btn_pop .quantity_box > .item .controls .number { display: block; width: 3.5rem; color: var(--text); text-align: center; font-size: 1rem; line-height: 1.5; border-bottom: 1px solid var(--outline);}
.prd_detail_wrap .prd_detail_btn_pop .total_price { border-top: 1px solid var(--outline); border-bottom: 1px solid var(--outline); padding: 0.875rem 0 1rem; display: flex; align-items: center; justify-content: space-between; gap: 2rem; margin: 2rem 0 1rem;}
.prd_detail_wrap .prd_detail_btn_pop .total_price .tit { color: var(--text); font-size: 1rem;}
.prd_detail_wrap .prd_detail_btn_pop .total_price .price {   flex: 1;   color: var(--text); font-size: 0.75rem;  font-weight: 600; text-align: right;}
.prd_detail_wrap .prd_detail_btn_pop .total_price .price .num { color: var(--point); font-size: 1.375rem; font-weight: 700; margin-right: 0.25rem;}
.prd_detail_wrap .prd_detail_btn_pop .info_txt { color: var(--text); text-align: center; font-size: 1rem; margin: 1rem 0;}
.prd_detail_wrap .prd_detail_btn_pop .bntbox { display: flex; gap: 0.5rem;}
.prd_detail_wrap .prd_detail_btn_pop .bntbox .btn { width: 100%; height: 3.5rem; display: flex; align-items: center; justify-content: center; border-radius: 0.25rem; border: 1px solid var(--outline, #DDD); background: #FFF; color: var(--text); font-size: 1.125rem; line-height: 1.5; font-weight: 500;}
.prd_detail_wrap .prd_detail_btn_pop .bntbox .btn.bg_on { background: var(--point);  color: #fff;}

.prd_revi_wrap .review_box { margin-top: 1.813rem; padding: 2.188rem 2rem 1.75rem; border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}
.prd_revi_wrap .review_box .prd_list_top { margin-top: 0; margin-bottom: 1rem;}
.prd_revi_wrap .review_box .revi_slidebox { position: relative; padding: 0 1.75rem; margin-bottom: 1rem; }
.prd_revi_wrap .review_box .review_slider{width: 100%;}
.prd_revi_wrap .review_box .review_slider .swiper-slide { aspect-ratio: 1/1;border-radius: 0.25rem; overflow: hidden;}
.prd_revi_wrap .review_box .review_slider .swiper-slide .imgbox { width: 100%; height: 100%; display: flex;}
.prd_revi_wrap .review_box .review_slider .swiper-slide .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.prd_revi_wrap .review_box .revi_slidebox .prev_btn, 
.prd_revi_wrap .review_box .revi_slidebox .next_btn { width: 0.5rem;}
.prd_revi_wrap .review_box .revi_slidebox .prev_btn { left: 0;}
.prd_revi_wrap .review_box .revi_slidebox .next_btn { right: 0;}
.prd_revi_wrap .review_box .revi_listbox { display: flex; flex-direction: column;}
.prd_revi_wrap .review_box .revi_listbox > .item { position: relative; width: 100%; padding: 1.188rem 0 2rem; border-bottom: 1px solid var(--outline); cursor: pointer;}
.prd_revi_wrap .review_box .revi_listbox .info_review { display: flex; align-items: center; color: var(--text); font-size: 0.875rem; margin-bottom: 0.5rem;}
.prd_revi_wrap .review_box .revi_listbox .info_review .rate { display: flex; align-items: center;}
.prd_revi_wrap .review_box .revi_listbox .info_review .rate .rate_icon {display: flex; width:1.125rem; aspect-ratio: 1/1; background: url(../img/ic_star2.png) no-repeat center/100% auto;}
.prd_revi_wrap .review_box .revi_listbox .info_review .rate .rate_icon.blank {background-image: url(../img/ic_star2_blank.png);}
.prd_revi_wrap .review_box .revi_listbox .info_review .rate_txt { color: var(--text); font-size: 1.125rem; font-weight: 600; padding-right: 0.25rem; margin-left: 0.375rem;}
.prd_revi_wrap .review_box .revi_listbox .info_review .bar { display: block; width: 1px; height: 0.75rem; background: #D2D2D2; margin: 0 0.5rem;}
.prd_revi_wrap .review_box .revi_listbox .info_content { display: flex; flex-direction: column-reverse; gap: 1.5rem;}
.prd_revi_wrap .review_box .revi_listbox .info_content .imgbox { width: 128px; aspect-ratio: 1/1; display: flex; border-radius: 0.25rem; overflow: hidden;}
.prd_revi_wrap .review_box .revi_listbox .info_content .imgbox > img { width: 100%; height: 100%; object-fit: cover;}
.prd_revi_wrap .review_box .revi_listbox .info_content .txtbox { width: 100%; white-space: nowrap;}
.prd_revi_wrap .review_box .revi_listbox .info_content .txtbox .txt { width: 100%; color: var(--text); font-size: 1rem; line-height: 1.5; overflow: hidden; text-overflow: ellipsis;}
.prd_revi_wrap .review_box .revi_listbox > .item.on .info_content { flex-direction: row; align-items: flex-start; gap: 2rem;}
.prd_revi_wrap .review_box .revi_listbox > .item.on .info_content .imgbox { width: 15.875rem;}
.prd_revi_wrap .review_box .revi_listbox > .item.on .info_content .txtbox { white-space: unset; flex: 1;}
.prd_revi_wrap .review_box .revi_paging { display: flex; align-items: center; justify-content: center; gap: 1rem; margin-top: 1rem;}
.prd_revi_wrap .review_box .revi_paging .btn { display: flex; align-items: center; justify-content: center; width: 3.5rem; aspect-ratio: 1/1; border-radius: 0.35rem; border: 1px solid var(--outline); background: #fff;}
.prd_revi_wrap .review_box .revi_paging .btn > img {  width: 0.5rem;}

.prd_info_wrap .detail_imgbox { display: flex; flex-direction: column; align-items: center; margin-top: 2rem; padding: 1.5rem; border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}

.prd_deli_wrap .delivery_box{display: flex; flex-direction: column; gap: 2.5rem; margin-top: 2rem; padding: 2rem; border-radius: 0.5rem; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}
.prd_deli_wrap .delivery_box .item { position: relative; width: 100%;}
.prd_deli_wrap .delivery_box .item .tit { color: var(--text); font-size: 1.125rem; font-weight: 600; border-bottom: 1px solid #ddd; padding-bottom: 0.5rem; margin-bottom: 1rem;}
.prd_deli_wrap .delivery_box .item .content { color: var(--text); font-size: 1rem; line-height: 1.5; padding-left: 1.5rem;}




  
/* Tablet */
@media screen and (max-width: 1024px) {

  .pc {display: none !important;}
  .tablet {display: block !important;}
  .wrap { min-width: initial; }


  .header .h_topnav, .header .h_contbox, .header .h_nav { display: none;}
  .fixed_side_nav { display: none;}


  
  /* common */
  .contents { padding: 0 0 9.875rem;}
  .inner { width: 100%; padding: 0 1rem;}
  

  /* header */
  .header {position: sticky; top: 0; box-shadow: none; background: #FBFBFB;}
  .header .h_inner { width: 100%; padding: 0.5rem 1rem;}
  .header .h_mobile {display: flex !important; align-items: center;justify-content: space-between; gap: 1.375rem;}  
  .header .h_mobile .h_schbox { position: relative;  flex: 1; }
  .header .h_mobile .h_schbox .h_schinput { width: 100%; height: 48px;  border-radius: 1.5rem; background: #FFF; padding: 0.5rem 3rem 0.5rem 1.25rem;  color: var(--text); border: none; box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);  font-size: 0.75rem; font-weight: 300;}
  .header .h_mobile .h_schbox .sch_btn { position: absolute; right: 1.108rem; top: 50%; transform: translateY(-50%); display: flex; align-items: center;  justify-content: center; width: 1.393rem; aspect-ratio: 1/1;}
  .header .h_mobile .menu_icon { width: 20px; display: flex !important; align-items: center; justify-content: center; cursor: pointer; margin-right: 0.5rem;}


  /* footer */
  .footer { background: transparent; padding-bottom: 0;}
  .footer .f_inner { width: 100%; display: flex; flex-direction: column; gap: 0.5rem;}
  .footer .f_nav { margin-bottom: 0; padding: 0.5rem 1rem; flex-wrap: wrap; gap: 0;  background: #fff;box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);}
  .footer .f_nav > li { width: 33.333%; height: 37px; border-right: 1px solid var(--outline); border-bottom: 1px solid var(--outline);}
  .footer .f_nav > li:nth-child(3n) { border-right: 0; }
  .footer .f_nav > li:nth-child(3) ~ li { border-bottom: 0;}
  .footer .f_nav > li .link { font-size: 0.75rem;width: 100%; height: 100%;  display: flex; align-items: center; justify-content: center;}
  .footer .f_contbox { flex-direction: column; gap: 1.5rem; padding: 1rem 1rem 1.5rem; background: #fff;}  
  .footer .f_contbox .contitem.cont1 { width: 100%; order: 3;}  
  .footer .f_contbox .contitem.cont2 { width: 100%; order: 1;}
  .footer .f_contbox .contitem.cont3 { width: 100%; order: 2;}
  .footer .f_contbox .contitem.cont1 .f_tit {display: none;}
  .footer .f_contbox .contitem .f_tit { font-size: 1.125rem;}
  .footer .f_contbox .contitem .descbox .desc { font-size: 0.75rem;}
  .footer .f_contbox .contitem .descbox .bar.tablet {display: inline-block !important;}
  

  /* main */
  .m_titbox { padding-bottom: 0; border-bottom: none;}
  .m_tit { font-size: 1.375rem; line-height: 1.5;}
  .m_tit > .link { gap: 0.5rem;}
  .m_tit > .link .arrow { width: 0.45rem; background-image: url(../img/mob_ic_txt_arrow.png);}


  /* 모바일 상단 메뉴 */
  .mobile_topmenu { position: relative; width: 100%; margin-top: 1rem;}
  .mobile_topmenu .mob_topmenu { width: 100%; padding: 0 1rem;}
  .mobile_topmenu .mob_topmenu .swiper-slide { width: auto; margin-right: 1.5rem;}
  .mobile_topmenu .mob_topmenu .swiper-slide .link { display: flex; align-items: center;  justify-content: center; padding: 0.5rem 0.438rem;  color: var(--text);  font-size: 1rem; font-weight: 500;}


  /* 오늘의 쿡짱 */
  .today_cook_wrap { margin-bottom: 2.5rem;}
  .today_cook_wrap .inner { padding: 0;}
  .today_cookbox { flex-direction: column; border-radius: 0; background: transparent;  box-shadow: none; padding: 1rem; gap: 1.044rem; border: none;  }
  .today_cookbox.login_on { box-shadow: none;}

  .today_cookbox .siebox { width: 100%; display: flex; flex-wrap: wrap; gap: 1rem 0.85rem;}
  .today_cookbox .siebox .m_titbox { order: 1;}
  .today_cookbox .siebox .m_titbox .desc { display: none;}
  .today_cookbox .siebox .bottom_txt { order: 2; align-self: center;}
  .today_cookbox .siebox .countdown { margin: 0; order: 3; width: 100%;}
  .today_cookbox .siebox .countdown .numbox .num { width: auto; height: auto;  padding: 0.055rem 0.405rem;}
  .today_cookbox .siebox .morebox { display: none;}

  .today_cookbox .prdbox {width: 100%; max-width: 100%; gap: 0.5rem;}  
  .today_cookbox .prdbox .prd_item { width: calc((100% - 0.5rem*2)/3); max-width: 100%; gap: 0.5rem;}
  .today_cookbox .prdbox .prd_item .thumbox { border-radius: 0.5rem;}
  .today_cookbox .prdbox .prd_item .btnbox { display: none;}
  .today_cookbox .prdbox .prd_item .txtbox { padding: 0 0.188rem;}
  .today_cookbox .prdbox .prd_item .txtbox .infobox { display: block;}
  .today_cookbox .prdbox .prd_item .txtbox .tit_link .name { font-size: 0.75rem;}
  .today_cookbox .prdbox .prd_item .txtbox .left .sale_price { font-size: 0.75rem;  font-weight: 300; line-height: normal;}
  .today_cookbox .prdbox .prd_item .txtbox .left .pricebox { width: 100%; font-size: 1rem; font-weight: 600; line-height: normal; flex-direction: row-reverse; justify-content: space-between;}
  .today_cookbox .prdbox .prd_item .txtbox .left .pricebox .percent { font-size: 0.75rem; font-weight: 400;}
  .today_cookbox .prdbox .prd_item .txtbox .right { display: none;}


  /* 모바일 카테고리 */
  .category_wrap {margin-bottom: 2.5rem;}
  .category_box { position: relative; margin-top: 1.25rem; display: flex; flex-wrap: wrap; gap: 1.375rem 1rem;}
  .category_box .cate_item {width: calc((100% - 1rem*3)/4); display: flex;  flex-direction: column; align-items: center; gap: 0.75rem;}
  .category_box .cate_item .imgbox { width: 100%; aspect-ratio: 1/1; display: flex;  align-items: center; justify-content: center; border-radius: 1rem; background: #FFF; box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);}
  .category_box .cate_item .imgbox > img { max-width: 65%;}
  .category_box .cate_item .txt { color: var(--text); text-align: center;  font-size: 0.875rem;}


  /* 상품 영역 */
  .product_wrap .prd_list { gap: 1.5rem 0.5rem; margin-top: 1rem;}
  .product_wrap .prd_item { width: calc((100% - 0.5rem*2)/3); padding: 0;  border-radius: 0;  background: transparent;  box-shadow: none; gap:0.5rem}
  .product_wrap .prd_item:nth-child(6) ~ .prd_item { display: none;}
  .product_wrap .prd_item .thumbox { border-radius: 0.5rem;}
  .product_wrap .prd_item .txtbox { padding: 0 0.188rem;}
  .product_wrap .prd_item .txtbox .infobox { display: block;}
  .product_wrap .prd_item .txtbox .tit_link .name { font-size: 0.75rem;}
  .product_wrap .prd_item .txtbox .left .sale_price { font-size: 0.75rem;  font-weight: 300; line-height: normal;}
  .product_wrap .prd_item .txtbox .left .pricebox { width: 100%; font-size: 1rem; font-weight: 600; line-height: normal; flex-direction: row-reverse; justify-content: space-between;}
  .product_wrap .prd_item .txtbox .left .pricebox .percent { font-size: 0.75rem; font-weight: 400;}
  .product_wrap .prd_item .txtbox .right { display: none;}
  .product_wrap .prd_item .btnbox { display: none;}




  /* 24.01.17 */
  body.pop_open::before { opacity: 1;  pointer-events: auto;}

  .header { background: #fff;}
  .header .h_mobile .h_schbox .h_schinput { border-radius: 50px; border: 1px solid var(--point); box-shadow: none;}
  .mobile_topmenu { padding: 0.5rem 0; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);  margin: 0;}

  .contents.pb_none { padding-bottom: 1.563rem;}

  .mob_top_btn {position: fixed; right: 1rem; bottom: 1rem; width: 3rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; border-radius: 0.5rem; border: 0.5px solid #8C8C8C; background: #FFF; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10); z-index: 10; cursor: pointer;}
  .mob_top_btn .icon { width: 1.25rem; aspect-ratio: 1/1; display: flex;} 

  .prd_list_wrap {padding-top: 1rem;}

  .prd_category { gap: 0;margin: 1rem 0; padding: 0.5rem;}
  .prd_category > li { width: 50%; border-bottom: 1px solid var(--outline);}
  .prd_category > li:nth-child(even) {  border-left: 1px solid var(--outline);}
  .prd_category > li:nth-last-child(1), 
  .prd_category > li:nth-last-child(2) { border-bottom: 0;}
  .prd_category > li .link { font-size: 0.938rem; height: 46px;}
  .prd_category > li.on .link { color: var(--point); background: unset; font-weight: 600;}

  .prd_list_top { margin-top: 1.5rem;}
  .prd_total { font-size: 0.875rem;}
  .prd_filter .mob_filter_btn { display: flex; align-items: center; color: var(--text); font-size: 0.875rem; font-weight: 500; gap: 0.375rem; padding-right: 0.5rem;}
  .prd_filter .mob_filter_btn .arrow { width: 0.375rem; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center;}
  .prd_filter .prd_filter_box { position: absolute; top: calc(100% + 0.25rem);  right: 0; min-width: 115px; width: max-content; border-radius: 0.25rem;  border: 1px solid #8C8C8C;  background: #FFF; flex-direction: column; align-items: flex-start; gap: 1rem;  padding: 0.75rem 1.25rem; z-index: 10; display: none;}
  .prd_filter .prd_filter_box > .btn { color: var(--text); font-size: 0.875rem;}
  .prd_filter .prd_filter_box > .btn.on { display: none;}
  .prd_filter .prd_filter_box > .bar { display: none;}
  .prd_filter.on .mob_filter_btn .arrow {transform: rotate(180deg);}
  .prd_filter.on .prd_filter_box {display: flex;}
  
  .prd_list_wrap .prd_item:nth-child(6) ~ .prd_item { display: flex;}

  .prd_detail_wrap .prd_detail_box { flex-direction: column; gap: 1rem; padding: 0; border-radius: unset; background: #FBFBFB; box-shadow: unset;}
  .prd_detail_wrap .prd_detail_box > .imgbox {width: 100%; border-radius: 0.25rem;  overflow: hidden;}
  .prd_detail_wrap .prd_detail_box > .txtbox { width: 100%; min-height: unset;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate .rate_icon { margin-bottom: 0; width: 0.938rem;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_name {font-size: 1rem; margin-bottom: 0;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_review .rate_txt { font-size: 0.875rem; margin-left: 0.375rem; margin-right: 0.125rem;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox { line-height: 1.5;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox .percent {  font-size: 1.375rem;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_price .pricebox .price .num { font-size: 1.375rem; margin-right: 0.25rem;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_list .item { gap: 1rem;  padding: 1rem 0;}
  .prd_detail_wrap .prd_detail_box > .txtbox .info_list .item:last-child { border-bottom: 0;}
  .prd_detail_wrap .prd_detail_box .prd_detail_btnbox { margin-top: 0.5rem;}

  .prd_info_wrap .detail_imgbox { margin-top: 1rem; padding: 0;  border-radius: unset;  background: unset; box-shadow: unset;}

  .prd_revi_wrap .review_box { margin-top: 1rem; padding: 0; border-radius: unset;  background: unset; box-shadow: unset; display: flex; flex-direction: column;}
  .prd_revi_wrap .review_box .revi_slidebox { padding: 0 1.438rem; margin-bottom: 2rem; order: 1;}
  .prd_revi_wrap .review_box .prd_list_top { margin-bottom: 0.313rem; order: 2;}
  .prd_revi_wrap .review_box .revi_listbox { order: 3;}
  .prd_revi_wrap .review_box .revi_listbox > .item { padding: 1rem 0;}
  .prd_revi_wrap .review_box .revi_listbox .info_content { gap: 1rem;}
  .prd_revi_wrap .review_box .revi_listbox .info_content .imgbox { width: 4.75rem;}
  .prd_revi_wrap .review_box .revi_listbox .info_content .txtbox { white-space: unset;}
  .prd_revi_wrap .review_box .revi_listbox .info_content .txtbox .txt { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;}
  .prd_revi_wrap .review_box .revi_listbox > .item.on .info_content { flex-direction: column-reverse; gap: 1rem;}
  .prd_revi_wrap .review_box .revi_listbox > .item.on .info_content .imgbox { width: 8rem;}
  .prd_revi_wrap .review_box .revi_listbox > .item.on .info_content .txtbox .txt {  -webkit-line-clamp: unset;}
  .prd_revi_wrap .review_box .revi_paging {order: 4;}
  .prd_revi_wrap .review_box .revi_paging .btn {  width: 2.5rem;}
  .prd_revi_wrap .review_box .revi_paging .btn > img { width: 0.35em;}

  .prd_deli_wrap .delivery_box {gap: 1.5rem; margin-top: 1rem; padding: 0; border-radius: unset; background: unset; box-shadow: unset;}
  .prd_deli_wrap .delivery_box .item .tit {font-size: 1rem;}
  .prd_deli_wrap .delivery_box .item .content { font-size: 0.875rem; padding: 0;}
  .prd_deli_wrap .delivery_box .item .content .txt { position: relative; padding-left: 0.875rem;}
  .prd_deli_wrap .delivery_box .item .content .txt::before { content: "-"; position: absolute; left: 0; top: 0;}

  .prd_detail_wrap .prd_detail_btn_pop { position: fixed; top: auto; bottom: -100px;  width: 100%; max-height: 80%;  border: none; border-radius: 0;  padding: 0 1rem 1rem;  z-index: 100; overflow-y: auto; transition: all 0.4s ease; display: block; opacity: 0; pointer-events: none;}
  .prd_detail_wrap .prd_detail_btn_pop.show { bottom: 0; opacity: 1; pointer-events: auto;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box {display: block;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .prd_name { color: #FFF; font-size: 1rem; font-weight: 600; line-height: 1.5; padding: 1.25rem 0.5rem; background: var(--point);display: flex; align-items: center; justify-content: center; margin: 0 -1rem 1rem;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box { display: flex;  align-items: flex-start;  gap: 1rem; margin-bottom: 2rem;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .imgbox {  width: 7rem; aspect-ratio: 1/1;  border-radius: 0.25rem;  overflow: hidden;  display: flex;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .imgbox > img {  width: 100%;  height: 100%; object-fit: cover;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox { flex: 1;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .price {  color: var(--text); font-size: 0.75rem; font-weight: 600;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .price .num {  color: var(--text); font-size: 1.25rem;  font-weight: 600; margin-right: 0.313rem;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .info_box {  display: flex; flex-direction: column; gap: 1rem; border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd; padding: 0.5rem 0;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .info_box .item {  display: flex;  align-items: flex-start;  gap: 0.75rem; color: var(--text);  font-size: 1rem; line-height: 1.5;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .info_box .item .tit { width: 45px;}
  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .info_box .item .desc { flex: 1; word-break: keep-all;}

}



/* Mobile */
@media screen and (max-width: 400px) {

  html { font-size: 14px; }

  .mobile {display: block !important;}  

}

@media screen and (max-width: 360px) {

  html { font-size: 13.5px; }

  .prd_detail_wrap .prd_detail_btn_pop .prd_info_box .detail_box .txtbox .info_box .item .tit { width: 40px;}

}
